		div{
			border: solid 1px;
		}

		body{
			font-family: 
		}

		
		.tudo{
			margin-left: 300px;
			margin-right: 300px;
			border-width: 50%;
			border: solid 1px;
			padding: 30px 30px 30px 30px;
			font-size: 15px;
		}
		.linha{
			clear: both;
		}
		.fundo{
			background-color: green; 
			text-align: center;
		
		}
		#foto{
			width: 30%;
			float: left ;
		}
		#img{
			max-width: 150px;
			max-height: 150px;
			border-radius: 50%;
			
			
			
		}
		.lista{
			list-style-position: inside;

		}

		.p{
			
			 
		}
		
	